# ============================================
# PATHS
# ============================================

FILE_PATH = data/raw/HAMMAM WELLNESS CENTER OFC.xlsx
OUTPUT_PATH = data/processed/sauna_clean.csv

